body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .hunters {
    column-count: 6; /* or any number of columns you want */
    column-gap: 10px;
    margin: 20px 0;
  }
  
  .hunter {
    break-inside: avoid;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
    text-align: center;
  }
  
  .hunter:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .hunter.selected {
    background-color: #008cffcc;  /* Highlight color for selected hunters */
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #selectedHunter {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  body.night-mode {
    background-color: #222;
    color: #f5f5f5;
}

.night-mode .hunter {
    background-color: #333;
    border-color: #555;
}

.night-mode .hunter:hover {
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
}

.night-mode .hunter.selected {
    background-color: #0056b3;
}

.night-mode button {
    background-color: #0056b3;
}

.night-mode button:hover {
    background-color: #003f7f;
}
